<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345077331175-sp84jiivlpoqbstfv563hp904g18ihr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345077331175-sp84jiivlpoqbstfv563hp904g18ihr1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>345077331175-00653jm3q15ag7cloer5ae5mp21ijs2j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsjZvyjazT8QCraSF8tfc-MHmX39-btSg</string>
	<key>GCM_SENDER_ID</key>
	<string>345077331175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>miniproject-5b190</string>
	<key>STORAGE_BUCKET</key>
	<string>miniproject-5b190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345077331175:ios:fe98754d89994ebbe19e42</string>
</dict>
</plist>